.aws-red{
    background-color: #F2B0A9;
}
.aws-orange{
    background-color: #FBBF93;
}
.aws-yellow{
    background-color: #FAD791;
}
.aws-green{
    background-color: #B7CA9D;
}
.aws-blue{
    background-color: #99BCE3;
}
.aws-black{
    background-color: #000;
}